body {
    background-color: blue;
 }
 
 .bio{
    color: white;
    height: fit-content;
    background-color: red;
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
 }

 .intro_sec{
    padding: 15px;
 }

 header{
    text-align: center;
 }